@model List<Courses>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12 mb-3">
        <a asp-action="Create" class="btn btn-success">Create New Slider</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Courses</h4>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Settings
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Courses course in Model)
                            {
                                if (course.IsDeleted == false)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/img/course/@course.ImageURL" style="width:100px;height:100px;object-fit: cover;" alt="Alternate Text" />
                                        </td>
                                        <td>
                                            @course.Name
                                        </td>
                                        <td style="width:20%">
                                            @course.Description
                                        </td>
                                        <td>
                                            <a class="btn btn-secondary" asp-action="Detail" asp-route-id="@course.Id"><i class="mdi mdi-information-outline"></i></a>
                                            <a class="btn btn-info" asp-action="Update" asp-route-id="@course.Id"><i class="mdi mdi-pencil"></i></a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@course.Id"><i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <img src="~/img/course/@course.ImageURL" style="width:100px;height:100px;object-fit: cover;" alt="Alternate Text" />
                                        </td>
                                        <td>
                                            @course.Name
                                        </td>
                                        <td style="width:20%">
                                            @course.Description
                                        </td>
                                        <td>
                                            <a class="btn btn-secondary" asp-action="Detail" asp-route-id="@course.Id"><i class="mdi mdi-information-outline"></i></a>
                                            <a class="btn btn-info" asp-action="Update" asp-route-id="@course.Id"><i class="mdi mdi-pencil"></i></a>
                                            <a class="btn btn-success" asp-action="Delete" asp-route-id="@course.Id"><i class="mdi mdi-reload"></i></a>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

