@model HomeVM
@{
    ViewData["Title"] = "Index";
    int count = 2;
}

<!-- Background Area Start -->
 <section id="slider-container" class="slider-area two">
    <div class="slider-owl owl-theme owl-carousel">
        @foreach (Slider slider in Model.Sliders)
        {
            <!-- Start Slingle Slide -->
            <div class="single-slide item" style="background-image: url('@Url.Content($"~/img/slider/{@slider.ImageURL}")')">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content text-center">
                                        <h2>@slider.Title </h2>
                                        @Html.Raw(slider.Description)
                                        <a class="default-btn" href="about.html">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
             <!-- End Slingle Slide -->
        }
       
    </div>
</section>
<!-- Background Area End -->


<!-- Service Start -->
<div class="service-area two pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (InfoCard item in Model.InfoCards)
	{
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a href="teacher.html">@item.Title</a></h3>
                    <p>@item.Description</p>
                </div>
            </div>
	}
        </div>
    </div>
</div>
<!-- Service End -->


<!-- About Start -->
<div class="about-area pb-155">
    <div class="container">
        <div class="row">
          @await Component.InvokeAsync("AboutInfo") 
        </div>
    </div>
</div>
<!-- About End -->


<!-- Courses Area Start -->
<div class="courses-area two pt-150 pb-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section1.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Courses",3)
        </div>
    </div>
</div>
<!-- Courses Area End -->


<!-- Notice Start -->
<section class="notice-area two pt-140">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>TAKE A VIDEO TOUR</h3>
                    <div class="notice-video">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="https://www.youtube.com/watch?v=to6Ghf8UL7o">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("NoticeBoard", 9)
        </div>
    </div>
</section>
<!-- Notice End -->


<!-- Event Area Start -->
<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                @foreach (Event ev in Model.Events)
                {
                    if (count % 2 == 0)
                    {
                        <div class="single-event mb-35">
                            <div class="event-img">
                                <a href="event-details.html"><img src="~/img/event/@ev.ImageURL" alt="event"></a>
                            </div>
                            <div class="event-content text-left">
                                <h3>@ev.Date.ToShortDateString()</h3>
                                <h4><a href="event-details.html">@ev.Title</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@ev.Time</li>
                                    <li><i class="fa fa-map-marker"></i>@ev.City</li>
                                </ul>
                                <div class="event-content-right">
                                    <a class="default-btn" href="event-details.html">join now</a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="single-event hidden-sm hidden-xs">
                            <div class="event-img">
                                <a href="event-details.html"><img src="~/img/event/@ev.ImageURL" alt="event"></a>
                            </div>
                            <div class="event-content text-left">
                                <h3>@ev.Date.ToShortDateString()</h3>
                                <h4><a href="event-details.html">@ev.Title</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@ev.Time</li>
                                    <li><i class="fa fa-map-marker"></i>@ev.City</li>
                                </ul>
                                <div class="event-content-right">
                                    <a class="default-btn" href="event-details.html">join now</a>
                                </div>
                            </div>
                        </div>

                        @if ((count-2) != Model.Events.Count())
                        {
                            @Html.Raw("</div>")
                            @Html.Raw("<div class='col-md-6 col-sm -12 col-xs-12'>")
                            
                        }
                    }
                    count++;
                }

            </div>
        </div>
    </div>
</div>
<!-- Event Area End -->


<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                @await Component.InvokeAsync("Testimonials")
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->


<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Blog", 3) 
        </div>
    </div>
</div>
<!-- Blog Area End -->


<!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("Subscribe",new { page="Home"}) ;
        </div>
    </div>
</div>
<!-- Subscribe End -->
